# Global ignores
.DS_Store
Thumbs.db
node_modules/
target/
.idea/
.vscode/
*.log
.env

# Ignore for backend (Spring Boot in 'be' folder)
be/target/
be/.mvn/
be/.idea/
be/.classpath
be/.project
be/.settings/
be/mvnw
be/mvnw.cmd
be/*.iml
be/logs/
be/tmp/
be/.env
be/.cache/
be/db/
be/*.log
be/*.jar
be/*.war
be/application-*.yml
be/application.properties

# Ignore for frontend (React in 'fe' folder)
fe/node_modules/
fe/.pnp/
fe/.pnp.js
fe/build/
fe/dist/
fe/.env.local
fe/.next/
fe/out/
fe/coverage/
fe/yarn-error.log
fe/.parcel-cache/
fe/.eslintcache
fe/.turbo/
fe/npm-debug.log*
fe/yarn-debug.log*
fe/yarn-error.log*
fe/.cache/
